pandas
numpy
sentence-transformers
transformers
rdflib
curies
openpyxl
azure-core
azure-search-documents
azure-storage-blob
azure-identity
azure-ai-formrecognizer
curies-rs
typing-extensions
langchain-core
pprint
os
config-file
requests
json
time
